{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un article</h1>
    <form>
        <input type="text" name="title" placeholder="titre de l'article">
        <textarea type="text" name="content" placeholder="contenu de l'article"></textarea>
        <input type="text" name="image" placeholder="image de l'article">
        <button type="submit">Enregistrer</button>
    </form>

{% endblock %}