{% extends 'base.html.twig' %}
{% block body %}
        <h1>Bienvenue dans ce blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos
            dolorum, molestias quod quos recusandae tempore vero voluptas </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid animi aperiam aspernatur, aut deserunt distinctio ducimus
            eaque exercitationem expedita fuga itaque maiores nemo neque nihil nostrum nulla odit officiis perferendis quam quas quasi quisquam, rem sapiente vero voluptate?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore odio praesentium sapiente? Earum eius magnam maxime nesciunt nisi praesentium vero voluptate. Ad asperiores autem culpa dolor ea est eveniet ex exercitationem hic laboriosam natus nulla quidem reiciendis sit, vel. Mollitia.</p>

{% endblock %}